:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    /* display: grid;
    grid-template-rows: auto 1fr; */
}

/* header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
} */

/* header .logo {
    height: 100%;
} */

main {
    padding: 50px;
}

.content-div {
    background-color: rgba(97, 97, 222, 0.505);
    padding: 30px;
    height: 1800px;
}

.added-content-ul {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
}
.createdPosts {
    background-color: rgb(132, 196, 196);
    width: 350px;
    margin: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titleEl {
    font-size: 25px;
    border: solid black 2px;
    margin-top: 5px;
    background-color: rgba(68, 224, 224, 0.575);
    width: 300px;
    text-align: center;
}
.contentEl {
    display: flex;
    align-items: center;
    background-color: rgba(15, 59, 234, 0.406);
    width: 275px;
    font-size: 20px;
    margin-top: 10px;
}

.contactEl {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    color: rgba(97, 30, 159, 0.76);
    padding: 35px;
    display: flex;
    justify-content: center;
}
button {
    padding: 20px;
    margin: 25px;
    font-size: 25px;
    color: rgba(75, 75, 141, 0.795);
}
